.chat-main
  .chat-main__group 
    .group__left
      .group__left--title
        = @group.name
      .group__left--member
        %ul
          Member：
          - @group.users.each do |user|
            %li= user.name

    .group__right
      = link_to "/groups/#{@group}/edit", class:"group__right--btn" do
        Edit
  .chat-main__message
    = render @messages

  .chat-main__form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

  -# .chat-main__input
  -#   .input__box
  -#     %input.input__box--form{ :placeholder => "type a message", :type => "text", :value => ""}
  -#       %label{class: "input__box--form--image"}
  -#         = icon('fas', 'image')
  -#         %input{type:"file"}
  -#   .input__send
  -#     %input.input__send--btn{:type =>"submit", :value => "send"}