.side-ber
  .side-ber__header
    .top-item
      .top_item__name tama
      .top-item__icon  
        = link_to "#" , class: "top-item__icon--btn" do
          = icon('far', 'edit', class: "top-item__icon--edit")
          %span<>
        = link_to "#" , class: "top-item__icon--btn" do
          = icon('fas', 'cog', class: "top-item__icon--cog")
  .side-ber__group
    .group-box
      = link_to"#", class:"group-box--btn" do
        .group-box--name
          techcamp
        .group-box--messege
          まだメッセージはありません
    .group-box
      = link_to"#", class:"group-box--btn" do
        .group-box--name
          DB芸人
        .group-box--messege
          おっす！オラ孫悟空！！
      
  