.side-ber
  .side-ber__header
    .top-item
      .top_item__name 
        = current_user.name
      .top-item__icon  
        = link_to new_group_path, class: "top-item__icon--btn" do
          = icon('far', 'edit', class: "top-item__icon--edit")
          %span<>
        = link_to edit_user_path(current_user), class: "top-item__icon--btn" do
          = icon('fas', 'cog', class: "top-item__icon--cog")
  .side-ber__group
    - current_user.groups.each do |group|
      .group-box   
        = link_to group_messages_path(group), class:"group-box--btn" do
          .group-box--name
            = group.name
          .group-box--messege         
            = group.show_last_message
  